In [18]:
#import dependencies 

import pandas as pd 
import numpy as np 
import datetime as dt 
from pathlib import Path 
%matplotlib inline

In [19]:
#file paths 

coffee_futures = Path('resources/coffee_c_futures.csv')
fx_allcountries = Path('resources/fx_5countries.csv')
irates_brazil = Path('resources/irates_brazil.csv')
irates_colombia = Path('resources/irates_colombia.csv')
irates_ethiopia = Path('resources/irates_ethiopia.csv')
irates_honduras = Path('resources/irates_honduras.csv')
irates_uganda = Path('resources/irates_uganda.csv')


#Coffee Futures

coffee_futures_data = pd.read_csv(coffee_futures, parse_dates=True, index_col='Date')

#FX 

fx_data = pd.read_csv(fx_allcountries, index_col='Country').T
fx_data = fx_data.iloc[3:]
fx_data = fx_data[['Colombia', 'Honduras', 'Uganda', 'Ethiopia', 'Brazil']]
fx_data.columns = ['Colombia New FX', 'Colombia Old FX', 'Colombia Real FX', 'Honduras New FX', 'Honduras Old FX', 'Honduras Real FX', 'Uganda New FX', 'Uganda Old FX', 'Uganda Real FX', 'Ethiopia New FX', 'Ethiopia Old FX', 'Ethiopia Real FX', 'Brazil New FX', 'Brazil Old FX', 'Brazil Real FX']



#Brazil
irates_brazil_data = pd.read_csv(irates_brazil, index_col=[0]).T
new_header_brazil = irates_brazil_data.iloc[0]
irates_brazil_data=irates_brazil_data[1:]
irates_brazil_data.columns=new_header_brazil

irates_brazil_data =irates_brazil_data[['Indicator', 'Central Bank Policy Rate', 'Discount Rate', 'Money Market Rate', 'Treasury Bill Rate', 'Savings Rate', 'Deposit Rate', 'Lending Rate']]
irates_brazil_data.reset_index
irates_brazil_data['Indicator'] = irates_brazil_data['Indicator'].astype(str)
irates_brazil_data.set_index('Indicator', inplace=True)

irates_brazil_data=irates_brazil_data.iloc[3:]

#Colombia
irates_colombia_data = pd.read_csv(irates_colombia, index_col=[0]).T
new_header_colombia = irates_colombia_data.iloc[0]
irates_colombia_data=irates_colombia_data[1:]
irates_colombia_data.columns=new_header_colombia

irates_colombia_data =irates_colombia_data[['Indicator', 'Central Bank Policy Rate', 'Discount Rate', 'Money Market Rate', 'Deposit Rate', 'Lending Rate']]
irates_colombia_data.reset_index
irates_colombia_data['Indicator'] = irates_colombia_data['Indicator'].astype(str)
irates_colombia_data.set_index('Indicator', inplace=True)

irates_colombia_data=irates_colombia_data.iloc[3:]

#Ethiopia
irates_ethiopia_data = pd.read_csv(irates_ethiopia, index_col=[0]).T
new_header_ethiopia = irates_ethiopia_data.iloc[0]
irates_ethiopia_data=irates_ethiopia_data[1:]
irates_ethiopia_data.columns=new_header_ethiopia

irates_ethiopia_data =irates_ethiopia_data[['Indicator', 'Discount Rate', 'Money Market Rate', 'Treasury Bill Rate', 'Savings Rate', 'Deposit Rate', 'Lending Rate', 'Government Bonds']]
irates_ethiopia_data.reset_index
irates_ethiopia_data['Indicator'] = irates_ethiopia_data['Indicator'].astype(str)
irates_ethiopia_data.set_index('Indicator', inplace=True)

irates_ethiopia_data=irates_ethiopia_data.iloc[3:]

#Honduras
irates_honduras_data = pd.read_csv(irates_honduras, index_col=[0]).T
new_header_honduras = irates_honduras_data.iloc[0]
irates_honduras_data=irates_honduras_data[1:]
irates_honduras_data.columns=new_header_honduras

irates_honduras_data =irates_honduras_data[['Indicator', 'Central Bank Policy Rate', 'Savings Rate', 'Savings Rate, Foreign Currency', 'Deposit Rate', 'Deposit Rate, Foreign Currency', 'Lending Rate', 'Lending Rate, Foreign Currency', 'Government Bonds']]
irates_honduras_data.reset_index
irates_honduras_data['Indicator'] = irates_honduras_data['Indicator'].astype(str)
irates_honduras_data.set_index('Indicator', inplace=True)

irates_honduras_data=irates_honduras_data.iloc[3:]

#Uganda
irates_uganda_data = pd.read_csv(irates_uganda, index_col=[0]).T
new_header_uganda = irates_uganda_data.iloc[0]
irates_uganda_data=irates_uganda_data[1:]
irates_uganda_data.columns=new_header_uganda

irates_uganda_data =irates_uganda_data[['Indicator', 'Discount Rate', 'Treasury Bill Rate', 'Savings Rate', 'Deposit Rate', 'Lending Rate', 'Government Bonds']]
irates_uganda_data.reset_index
irates_uganda_data['Indicator'] = irates_uganda_data['Indicator'].astype(str)
irates_uganda_data.set_index('Indicator', inplace=True)

irates_uganda_data=irates_uganda_data.iloc[3:]

In [24]:
#Indexes FX
indexes =[]
for index in fx_data.index:
    if '[' in index:
        new_index = index.split('[')[0].strip().split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
fx_data.index = pd.Index(indexes)


#Indexes Brazil 
indexes =[]
for index in irates_brazil_data.index:
    if 'M' in index:
        new_index = index.split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
irates_brazil_data.index = pd.Index(indexes)


#Indexes Colombia

indexes =[]
for index in irates_colombia_data.index:
    if 'M' in index:
        new_index = index.split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
irates_colombia_data.index = pd.Index(indexes)

#Indexes Ethiopia

indexes =[]
for index in irates_ethiopia_data.index:
    if 'M' in index:
        new_index = index.split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
irates_ethiopia_data.index = pd.Index(indexes)

#Indexes Honduras 

indexes =[]
for index in irates_honduras_data.index:
    if 'M' in index:
        new_index = index.split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
irates_honduras_data.index = pd.Index(indexes)

#Indexes Uganda

indexes =[]
for index in irates_uganda_data.index:
    if 'M' in index:
        new_index = index.split('M')
        new_index = new_index[0] + '/' + new_index[1]
        indexes.append(new_index)
    else:
        indexes.append(index)
        
irates_uganda_data.index = pd.Index(indexes)


#Drop Nulls

coffee_futures_data = coffee_futures_data[["Settle","Volume"]]
#coffee_futures_data.dropna(inplace=True)
fx_data.dropna(inplace=True)
irates_brazil_data.dropna(inplace=True)         
irates_brazil_data.dropna(inplace=True)
irates_colombia_data.dropna(inplace=True)
irates_ethiopia_data.dropna(inplace=True)
irates_honduras_data.dropna(inplace=True)
irates_uganda_data.dropna(inplace=True)

            Settle   Volume
Date
2020-11-04  103.00  16042.0
2020-11-03  103.45  22075.0
2020-11-02  102.80  18396.0
2020-10-30  104.40  18563.0
2020-10-29  104.60  16031.0
2020-10-28  105.00  14429.0
2020-10-27  106.95  14898.0
2020-10-26  106.65  14214.0
2020-10-23  105.60  11845.0
2020-10-22  106.70  20575.0
2020-10-21  104.15  15433.0
2020-10-20  104.90  17714.0
2020-10-19  106.05  16450.0
2020-10-16  107.25  14416.0
2020-10-15  109.50  21862.0
2020-10-14  109.60  13094.0
2020-10-13  110.10  14065.0
2020-10-12  109.15  15820.0
2020-10-09  111.55  15558.0
2020-10-08  110.25  17816.0
2020-10-07  109.60  20193.0
2020-10-06  107.65  12954.0
2020-10-05  107.20  19136.0
2020-10-02  108.95  22342.0
2020-10-01  107.05  27328.0
2020-09-30  110.95  20786.0
2020-09-29  109.55  20363.0
2020-09-28  109.55  21235.0
2020-09-25  113.65  17711.0
2020-09-24  111.15  16261.0
...            ...      ...
1973-10-01   68.00     65.0
1973-09-28   67.82     91.0
1973-09-27   68.55    132.0
1973-09-26   68.40    132.0
1973-09-25   67.30    507.0
1973-09-24   65.70     91.0
1973-09-21   64.65    121.0
1973-09-20   64.80    109.0
1973-09-19   65.15     84.0
1973-09-18   65.62    179.0
1973-09-17   65.75    206.0
1973-09-14   66.45    107.0
1973-09-13   64.50    162.0
1973-09-12   63.65    105.0
1973-09-11   63.02    106.0
1973-09-10   63.35     69.0
1973-09-07   63.80     89.0
1973-09-06   63.60     85.0
1973-09-05   63.70     64.0
1973-09-04   64.32    121.0
1973-08-31   64.02    144.0
1973-08-30   63.87    176.0
1973-08-29   63.45    250.0
1973-08-28   64.00    203.0
1973-08-27   65.90     83.0
1973-08-24   66.60     99.0
1973-08-23   66.75    151.0
1973-08-22   65.80    168.0
1973-08-21   67.10    113.0
1973-08-20   67.35    150.0

[11690 rows x 2 columns]